certifi==2017.1.23
decorator==4.0.11
Django==1.10.5
django-braces==1.11.0
django-oauth-toolkit==0.11.0
django-webpack-loader==0.4.1
djangorestframework==3.5.3
enum34==1.1.6
grpcio==1.0.4
grpcio-tools==1.0.4
httpie==0.9.9
httplib2==0.9.2
ipaddress==1.0.18
ipdb==0.10.2
ipython==5.1.0
ipython-genutils==0.1.0
-e git+https://github.com/kubernetes-incubator/client-python.git@1d3cd1384513b78b0cfd40f59e32afb3d7b8a729#egg=kubernetes
Markdown==2.6.7
oauth2client==4.0.0
oauthlib==1.1.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.9
protobuf==3.1.0.post1
ptyprocess==0.5.1
pudb==2017.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
Pygments==2.1.3
python-dateutil==2.6.0
PyYAML==3.12
requests==2.12.5
rsa==3.4.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
urllib3==1.20
urwid==1.3.1
wcwidth==0.1.7
websocket-client==0.40.0
