{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>Example</title>
      <link rel="stylesheet" href="{% static "global/css/bootstrap.min.css" %}"/>
      <script src="{% static "global/jquery-3.1.1.slim.min.js" %}"></script>
      <script src="{% static "global/tether.min.js" %}"></script>
      <script src="{% static "global/bootstrap.min.js" %}"></script>
      <style>
          .container {
              margin-top: 4em;
          }
      </style>
  </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <a class="navbar-brand" href="#">terminator</a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="app"></div>
                </div>
            </div>
        </div>
    </body>
    {% render_bundle 'main' %}
</html>
